<h1>MY PROFILE</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% admin = current_admin %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.name %></td>
      </tr>

  </tbody>
</table>
<br>
<table>
  <tr>
    <td><%= link_to 'Manage Cars', cars_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Customers', customers_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Admins', admins_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Rentals', rentals_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Suggestions', suggestions_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to "Reserve on behalf of customer", '/search_cars'%></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to 'Edit your profile', edit_admin_path(admin), :method => :get %></td>
  </tr>
</table>
<br>
<br>
