<h1>MY PROFILE</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% superadmin = current_superadmin %>
      <tr>
        <td><%= superadmin.email %></td>
        <td><%= superadmin.name %></td>
      </tr>
  </tbody>
</table>
<br>
<table>
  <tr>
    <td><%= link_to 'Manage Admins', admins_path, :method => :get %></td>
    <td><%= link_to 'Manage Superadmins', superadmins_path, :method => :get%></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Customers', customers_path, :method => :get %></td>
    <td><%= link_to 'Manage Cars', cars_path, :method => :get %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Rentals', rentals_path, :method => :get %></td>
    <td><%= link_to 'Manage Suggestions', suggestions_path, :method => :get %></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to 'Edit your profile', edit_admin_path(superadmin), :method => :get %></td>
  </tr>
</table>
<br>
<br>