<p id="notice"><%= notice %></p>
<br>

<h1>PROFILE</h1>
<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Rental charge</th>
  </tr>
  </thead>

  <tbody>
  <% customer = current_customer %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <td><%= customer.rental_charge %></td>
      </tr>
  </tbody>
</table>
<br>

<% if !(current_admin || current_superadmin) %>
    <table>
      <td><%= button_to 'Search for a car' , :action => 'search_cars', :controller =>'cars'%></td>
      <% @current_rental = Rental.where(:email => customer.email).last%>
      <% if !@current_rental.nil? then %>
          <% if @current_rental.status.eql?("Reserved") then %>
              <!--and Time.now>@current_rental.checkout and Time.now<@current_rental.return-->
              <td><%= button_to 'Checkout', :action => 'checkout', :controller => 'rentals' %></td>
              <td><%= button_to 'Cancel Reservation', :action => 'cancel_reservation', :controller => 'rentals' %></td>
              <!--< redirect_to '/customer_profile'%>-->
          <% elsif @current_rental.status.eql?("Checked out") and Time.now<@current_rental.return then%>
              <td><%= button_to 'Return', :action => 'return', :controller => 'rentals' %></td>
              <!--< redirect_to '/customer_profile'%>-->
          <% end %>
      <% end %>
      <td><%= button_to 'Checkout History', :action => 'checkout_history', :controller => 'rentals', :customer => customer.email %></td>
      <td><%= button_to 'Edit Profile', edit_customer_path(customer), :method => :get %></td>
      <td><%= button_to 'Suggest Car', new_suggestion_path, :method => :get %></td>
    </table>

<% elsif (current_admin || current_superadmin) %>
    <% @current_rental = Rental.where(:email => customer.email).last%>
    <table>
    <% if !@current_rental.nil? then %>
        <% if @current_rental.status.eql?("Reserved") then %>
            <!--and Time.now>@current_rental.checkout and Time.now<@current_rental.return-->
            <td><%= button_to 'Checkout', :action => 'checkout', :controller => 'rentals' %></td>
            <td><%= button_to 'Cancel Reservation', :action => 'cancel_reservation', :controller => 'rentals' %></td>
            <!--<redirect_to '/customer_profile'%>-->
        <% elsif @current_rental.status.eql?("Checked out") and Time.now<@current_rental.return then%>
            <td><%= button_to 'Return', :action => 'return', :controller => 'rentals' %></td>
            <!--< redirect_to '/customer_profile'%>-->
        <% end %>
    <% end %>
    </table>
<% end %>

<br>
<br>