<h1>MY PROFILE</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Rental charge</th>
  </tr>
  </thead>

  <tbody>
  <% customer = current_customer %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <td><%= customer.rental_charge %></td>
      </tr>
  </tbody>
</table>
<br>
<table>
  <td><%= button_to 'Search for a car' , :action => 'search_cars', :controller =>'cars'%></td>
  <!--< @current_rental = Rental.where(:email => customer.email).last%>-->
  <td><%= button_to 'Checkout', :action => 'checkout', :controller => 'rentals' %></td>
  <!--<td><= button_to 'Cancel', :action => 'cancel', :controller => 'rentals' %></td>-->
  <!--<td><= button_to 'Return', :action => 'return', :controller => 'rentals' %></td>-->
  <td><%= button_to 'Checkout History', :action => 'checkout_history', :controller => 'rentals', :customer => customer.email %></td>
  <td><%= button_to 'Edit Profile', edit_customer_path(customer), :method => :get %></td>
</table>
<br>
<br>