<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<% if !current_customer || current_admin || current_superadmin then %>
  <%= button_to 'Checkout History', :action => 'checkout_history', :controller => 'rentals', :customer => @customer.email %>
  <%= link_to 'Back', customers_path %>
<% end %>