<!DOCTYPE html>
<html>
  <head>
    <title>Car Rentals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body align="center" width="100%" style="margin: 0px">
  <div style="background-color: #F44336; height: 150px">
    <div style="margin: 0px; color:#fff; top:40%; position: relative">
      <div style="display: inline-block; position:absolute; top:0; left:0; float: left">
        <%= link_to 'Back', :back %>
      </div>
      <h1 style="padding: 8px">CAR RENTALS</h1>
      <% if current_customer || current_admin || current_superadmin then%>
        <div style="display: inline-block; position:absolute; top:0; right:0; float: right">
          <table style="border:0px">
              <td>
              <%= button_to "Sign Out", '/destroy_session', :method => :post %>
                    </td>
              <td>
                <% if current_customer %>
                   <%= button_to "My Profile", '/customer_profile', :method => :post %>
                <% elsif current_admin %>
                   <%= button_to "My Profile", '/admin_profile', :method => :post %>
                <% else %>
                   <%= button_to "My Profile", '/superadmin_profile', :method => :post %>
                <% end %>
              </td>
          </table>
      <% end %>
      </div>
    </div>
  </div>
  <br>

    <%= yield %>
  </body>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: auto;
      margin: 0 auto;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
  </style>

</html>