<!DOCTYPE html>
<html>
  <head>
    <title>Car Rentals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body align="center" width="100%" style="margin: 0px">
  <div style="background-color: #F44336; height: 150px">
    <div style="margin: 0px; color:#fff; top:40%; position: relative">
      <% if !current_page?(root_path) and !current_page?('/login') %>
        <div style="display: inline-block; position:absolute; top:0; left:25px; float: left">
          <%= link_to 'Back', :back %>
        </div>
      <% end %>
      <h1 style="padding: 8px">CAR RENTALS</h1>
      <% if current_customer || current_admin || current_superadmin then%>
        <div style="display: inline-block; position:absolute; top:0; right:0; float: right">
          <table style="border:0px">
              <td>
              <%= button_to "Sign Out", '/destroy_session', :method => :post %>
                    </td>
              <td>
                <% if current_superadmin %>
                   <%= button_to "My Profile", '/superadmin_profile', :method => :post %>
                <% elsif current_admin %>
                   <%= button_to "My Profile", '/admin_profile', :method => :post %>
                <% else %>
                   <%= button_to "My Profile", '/customer_profile', :method => :post %>
                <% end %>
              </td>
          </table>
      <% end %>
      </div>
    </div>
  </div>
  <br>

    <%= yield %>
  </body>

  <style>
    input[type="button"], input[type="submit"] {
      background-color: #e5e5e5; /* Green */
      border: 1px solid;
      border-radius: 4px;
      color: black;
      padding: 5px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    .index {
      width: 100%
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: auto;
      margin: 0 auto;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px 12px;
    }
    th {
      background-color: #F44336;
      color: white;
    }
    tr:hover {background-color: #f5f5f5}
  </style>

</html>